/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(assets/backgroundjpeg.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #91ced6;
  color: white;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#container1 {
  position: absolute;
  top: 10%;
  right: 18%;
  height: 10vh;
  width: 25%;
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  height: 100%;
  width: 80%;
  font-size: 1.3vw;
  padding: 10px;
  text-align: center;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#icon img {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
  /* background-color: red; */
}

.rotate {
  transform: rotate(180deg);
}

#container2 {
  position: absolute;
  bottom: 20%;
  right: 10%;
  height: 55vh;
  width: 40%;
  /* border: 2px solid; */
  border-radius: 20px;
}

#container2 ul {
  height: 100%;
  width: 100%;
  padding: 20px;
  /* background-color: black; */
}
#container2 ul li {
  border: 1px solid white;
  border-radius: 20px;
  position: relative;
  list-style: none;
  height: 20%;
  width: 100%;
  padding: 10px 50px;
  margin-bottom: 5px;
  font-size: 1.5vw;
  font-weight: 600;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);

  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease; /* smooth animation */
  cursor: pointer;
}

#container2 ul li:hover {
  background-color: rgba(255, 255, 255, 0.15); /* little darker */
  transform: scale(1.05); /* pop-up effect */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* shadow pop */
}

#container2 ul li img {
  position: absolute;
  left: 2%;
  height: 50px;
  width: 50px;
}

.hide {
  display: none;
}
