/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#heading {
  position: absolute;
  top: 4%;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 1px 1px 1px 1px blueviolet;
}
#container {
  position: relative;
  height: 50%;
  width: 70%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
}

input {
  height: 50px;
  width: 45%;
  border-radius: 50px;
  font-size: 1rem;
  text-align: center;
}

input::placeholder {
  color: black;
  text-align: center;
  font-size: 1rem;
}

#btn {
  height: 50px;
  width: 100px;
  color: white;
  font-weight: 700;
  background-color: red;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#result {
  height: 50px;
  width: 50%;
  position: absolute;
  /* background-color: red; */
  font-size: 2rem;
  font-weight: 900;
  bottom: 5%;

  text-align: center;
}
