/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#heading {
  position: absolute;
  top: 10%;
  color: black;
}
#heading h1 {
  font-size: 3em;
}
#container {
  position: relative;
  height: 50%;
  width: 50%;
  background-color: black;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  height: 30px;
  width: 190px;
  border-radius: 20px;
  outline: none;
  border: none;
  padding-left: 10px;
}
button {
  height: 30px;
  width: 160px;
  border-radius: 20px;
  background-color: orange;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
}

#background-image {
  height: 100%;
  width: 100%;
  background: url(background.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: blue;
  filter: blur(20px);
}

@media (max-width: 400px) {
  #container {
    gap: 40px;
    height: 40%;
    width: 80%;
    background-color: transparent;
  }
  button {
    background-color: red;
    color: white;
  }
  input {
    color: whitesmoke;
    background-color: black;
    text-align: center;
  }
  #background-image {
    background: url(https://i.pinimg.com/1200x/9d/4b/9e/9d4b9e7a663dbf1874cc279fb9483c15.jpg)
      no-repeat center center/cover;
  }

  #heading {
    top: 60px;
  }
  #heading h1 {
    font-size: 2em;
  }
}
