@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* Basic CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* border: 2px solid; */
  height: 20vh;
  width: 60%;
  text-align: center;
  font-size: 6vw;
  margin-bottom: 10px;
}
p {
  /* border: 2px solid; */
  width: 80%;
  height: 35vh;
  text-align: center;
  font-size: 1.2vw;
  margin-bottom: 10px;
}
a {
  /* border: 2px solid; */
  text-decoration: none;
  color: white;
  height: 10vh;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: wheat;
  color: black;
  font-weight: 900;
  border-radius: 30px;
  cursor: pointer;
}

/* for Js */

#cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: cyan;
  border-radius: 50%;
}
