/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  z-index: -10;
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
}

#grid-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid white;
}

.items {
  position: relative;
  border: 2px solid white;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.items ul li {
  list-style-type: none;
  font-size: 2vw;
  padding: 10px;
  /* border: 2px solid white; */
  position: relative;
}

.item1 ul li::before {
  content: "";
  background-color: white;
  transform: scale(0);
  transform-origin: left;
  color: white;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease-in-out 1s;
}

.item1 ul li:hover::before {
  transform: scaleX(1);
}
.item1 ul li::after {
  content: "";
  background-color: white;
  transform: scale(0);
  transform-origin: right;
  color: white;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all ease-in-out 1s;
}

.item1 ul li:hover::after {
  transform: scaleX(1);
}

/* item2 */

.item2 ul li::before {
  content: "";
  height: 100%;
  width: 100%;
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(2);
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-radius: 3px;
  transition: all ease-in-out 1s;
  opacity: 0;
}

.item2 ul li:hover::before {
  opacity: 1;
  transform: scaleY(1.3);
}

.item2 ul li::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: all ease-in-out 1s;
}

.item2 ul li:hover::after{
    opacity: 1;
    transform: scale(1);
} 