/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 80%;
  width: 50%;
  background-color: transparent;
  overflow-y: scroll;
  position: relative;
  padding: 5px 20px;
}

section {
  border: 2px solid whitesmoke;
  padding: 30px;
  margin-bottom: 10px;
}

#scroll-indicator {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: transparent;
  border-radius: 50px;
}

#progressBar {
  border-radius: 2px;
  height: 100%;
  width: 0%;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 196, 1) 0%,
    rgba(255, 97, 100, 1) 50%,
    rgba(176, 0, 18, 1) 100%
  );
}
