* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  width: 100%;
}
#main {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#vedio-container {
  position: relative;
}
#vedio-container video {
  height: 100vh;
  width: 100%;
  /* border: 2px solid white; */
}

#content {
  color: white;
  position: absolute;
  bottom: 10vh;
  left: 5vw;
}

#content h1 {
  font-size: 4vw;
  font-style: oblique;
  text-transform: uppercase;
  font-weight: bolder;
}

#content h1:hover {
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  color: transparent;
  cursor: none;
}

