/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(252, 142, 197, 1) 0%,
    rgba(255, 141, 211, 1) 25%,
    rgba(255, 161, 216, 1) 50%,
    rgba(255, 193, 210, 1) 75%,
    rgba(255, 224, 195, 1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
    color: transparent;
    font-size: 5vw;
    text-transform: uppercase;
    background: url(https://static.vecteezy.com/system/resources/previews/004/487/773/non_2x/white-hearts-on-red-background-seamless-pattern-endless-texture-for-wrapping-paper-textiles-scrapbooking-love-valentine-s-day-concept-vector.jpg);
    background-clip: text;
    -webkit-background-clip: text;
}
#container {
  position: relative;
  height: 70vh;
  width: 40%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#grey{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: grey;
    transform: rotate(45deg);
}

#grey::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: grey;
    top: -50%;
    left: 0;
}
#grey::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: grey;
    left: -50%;
    top: 0;
}

#red{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: red;
    transform: rotate(45deg);
    visibility: visible;

}

#red.animationaa{
        animation: animationa 1s ease-in-out none ;
        z-index: 2;
    }
#red::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: red;
    top: -50%;
    left: 0;
}
#red::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: red;
    left: -50%;
    top: 0;
}

@keyframes animationa {
    100%{
        transform: scale(1.2) rotate(45deg);
        opacity: 0;
    }
}