/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#heading {
  color: transparent;
  text-align: center;
  font-size: 10vw;
  background: url(https://www.shutterstock.com/shutterstock/videos/1083307942/thumb/7.jpg?ip=x480);
  background-clip: text;
  -webkit-background-clip: text;
}
