/* Basic CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Stack+Sans+Notch:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #cf95ee;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 6vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke: 2px white;
}

h1:hover {
  color: #4618b6;
}

h1 img {
  margin-left: 10px;
  height: 30px;
  width: 30px;
}

#box {
  background-color: #4618b6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 40%;
  font-size: 120px;
  /* border: 2px solid; */
  border-radius: 2%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
}

#btn {
  background-color: #4618b6;
  height: 10vh;
  width: 20%;
  /* border: 2px solid white; */
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.75);
}
