* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(58, 210, 55);
  --secondary-color: #e0e0e0;
  --btn-color: grey;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  /* https://grabient.com/HQVgLAjANMAM4wgTmsAzGAbIgTADhnlhhxRjQHZUscoc4Q0oJhMIwox0w0g?style=linearSwatches&steps=10&angle=180 */

  background: linear-gradient(
    180deg,
    rgba(221, 0, 42, 1) 0%,
    rgba(221, 0, 42, 1) 10%,
    rgba(214, 0, 39, 1) 10%,
    rgba(214, 0, 39, 1) 20%,
    rgba(203, 3, 37, 1) 20%,
    rgba(203, 3, 37, 1) 30%,
    rgba(190, 11, 36, 1) 30%,
    rgba(190, 11, 36, 1) 40%,
    rgba(174, 20, 37, 1) 40%,
    rgba(174, 20, 37, 1) 50%,
    rgba(157, 28, 38, 1) 50%,
    rgba(157, 28, 38, 1) 60%,
    rgba(140, 35, 41, 1) 60%,
    rgba(140, 35, 41, 1) 70%,
    rgba(122, 40, 45, 1) 70%,
    rgba(122, 40, 45, 1) 80%,
    rgba(105, 44, 49, 1) 80%,
    rgba(105, 44, 49, 1) 90%,
    rgba(89, 46, 53, 1) 90% 100%
  );
}

#heading {
  /* background-color: gray; */
  width: 20%;
  font-size: 50px;
  padding: 5px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 60px;
  margin-bottom: 120px;
  text-align: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 1s;
}

#heading:hover {
  transform: scale(1.2);
  color: black;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--secondary-color);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--primary-color);
}

.btn {
  background-color: var(--btn-color);
  color: #fff;
  border: 0;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}
