/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  background: url(assets/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  width: 100%;
}

#form-container {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 40%;
  padding: 5%;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
  background-color: whitesmoke;
}

#heading {
  color: black;
  position: relative;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  /* border: 2px solid black; */
}
#heading span {
  background-color: red;
  padding: 0px 15px;
  border: none;
  border-radius: 20px;
  color: white;
}

.form-control {
  position: relative;
  height: 50px;
  width: 90%;
  color: black;
  /* background-color: red; */
  margin: 40px;
}

.form-control input {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  outline: none;
}

.form-control input:focus,
.form-control input:valid {
  border-color: red;
}

.form-control label {
  position: absolute;
  left: 2%;
  top: 5%;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.4s all ease-in-out;
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: crimson;
  transform: translateY(-30px);
}

#button {
  background-color: red;
  height: 50px;
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  border-radius: 12px;
  cursor: pointer;

  /* Shadow */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);

  /* Smooth animation */
  transition: all 0.3s ease;
}

/* Hover Effect */
#button:hover {
  background-color: #d10000;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 0px #b30000, 2px 2px 0px #8a0000, 3px 3px 0px #660000,
    4px 4px 8px rgba(0, 0, 0, 0.7);
  transform: scale(1.07) translateY(-2px);
}
