/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: black;
  height: 100vh;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

nav {
  background-color: white;
  padding: 20px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: width 0.6s linear;
}

nav.active {
  width: 100%;
}

ul {
  display: flex;

  list-style: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  /* border-bottom: 1px solid black; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-left: 5px;
  /* transform: rotate(0deg); */
  opacity: 0;
  transition: transform 0.6s linear, opactiy 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transition: all ease-in-out 0.5s;
}

nav ul li a {
  position: relative;
  color: black;
  text-decoration: none;
  margin: 0 30px;
}

.icon {
  background: white;
  border: 0;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
  outline: none;
  cursor: pointer;
}

.icon .line {
  background-color: crimson;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}
