/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(assets/background4K.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  width: 100%;
}
nav {
  position: absolute;
  right: 0;
  /* background-color: blue; */
  height: 400px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-items {
  border-bottom: 2px solid;
  border-radius: 10px;
  height: 40px;
  width: 90px;
  font-size: 1.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: all ease-in-out 0.3s;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.6);
}

.nav-items:hover {
  transform: translateX(-5%) translateY(-5%);

  cursor: pointer;
}

#icon-box {
  height: 70px;
  width: 70px;
  z-index: 10;
  position: absolute;
  left: 4%;
  top: 3%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

#icon-box img {
  width: 70px;
  /* background-color: wheat; */
  transition: all ease-in-out 0.6s;
}

.active {
  transform: translateX(-100%) perspective(600px) rotateY(25deg)
    translateX(10px) scale(0.5);
}

#page-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: grey; */
  overflow: hidden;
  transition: all ease-in-out 0.7s;
}

.sec {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all ease-in-out 0.7s;
}

.show {
  opacity: 1;
}

.move {
  /* left: -10px; */
  transform: perspective(600px) rotateY(25deg) translateX(10px) scale(0.5);
}

.first {
  background: url(assets/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.second {
  background: url(assets/2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.third {
  background: url(assets/3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#overlay {
  position: absolute;
  height: 100%;
  width: 80%;
  bottom: 0;
  left: -100%;
  background: rgba(255, 255, 255, 0.2); /* transparent white */
  backdrop-filter: blur(10px); /* blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  z-index: 3;
}

@keyframes change {
  100% {
    left: 100%;
  }
}
