/* Basic CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lobster&family=Stack+Sans+Notch:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;

  transition: all ease-in-out 2s;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(18, 18, 22, 1) 0%,
    rgba(18, 18, 22, 1) 7.692%,
    rgba(22, 23, 26, 1) 7.692%,
    rgba(22, 23, 26, 1) 15.385%,
    rgba(26, 27, 31, 1) 15.385%,
    rgba(26, 27, 31, 1) 23.077%,
    rgba(31, 32, 35, 1) 23.077%,
    rgba(31, 32, 35, 1) 30.769%,
    rgba(35, 36, 39, 1) 30.769%,
    rgba(35, 36, 39, 1) 38.462%,
    rgba(39, 40, 43, 1) 38.462%,
    rgba(39, 40, 43, 1) 46.154%,
    rgba(43, 44, 47, 1) 46.154%,
    rgba(43, 44, 47, 1) 53.846%,
    rgba(47, 48, 51, 1) 53.846%,
    rgba(47, 48, 51, 1) 61.538%,
    rgba(50, 51, 55, 1) 61.538%,
    rgba(50, 51, 55, 1) 69.231%,
    rgba(54, 55, 58, 1) 69.231%,
    rgba(54, 55, 58, 1) 76.923%,
    rgba(56, 57, 61, 1) 76.923%,
    rgba(56, 57, 61, 1) 84.615%,
    rgba(59, 60, 64, 1) 84.615%,
    rgba(59, 60, 64, 1) 92.308%,
    rgba(61, 62, 66, 1) 92.308% 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 4vw;
  margin-bottom: 10px;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  width: 50%;
  text-align: center;
  font-size: 1.5vw;
  transition: all ease-in-out 1s;
}

.icon {
  opacity: 1;
  /* border: 2px solid white; */
  height: 100px;
  width: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%;
  transition: all ease-in-out 1s;
  animation: bounce 1s ease-in-out none infinite;
  background-color: #e16700;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page2 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(18, 18, 22, 1) 0%,
    rgba(18, 18, 22, 1) 7.692%,
    rgba(22, 23, 26, 1) 7.692%,
    rgba(22, 23, 26, 1) 15.385%,
    rgba(26, 27, 31, 1) 15.385%,
    rgba(26, 27, 31, 1) 23.077%,
    rgba(31, 32, 35, 1) 23.077%,
    rgba(31, 32, 35, 1) 30.769%,
    rgba(35, 36, 39, 1) 30.769%,
    rgba(35, 36, 39, 1) 38.462%,
    rgba(39, 40, 43, 1) 38.462%,
    rgba(39, 40, 43, 1) 46.154%,
    rgba(43, 44, 47, 1) 46.154%,
    rgba(43, 44, 47, 1) 53.846%,
    rgba(47, 48, 51, 1) 53.846%,
    rgba(47, 48, 51, 1) 61.538%,
    rgba(50, 51, 55, 1) 61.538%,
    rgba(50, 51, 55, 1) 69.231%,
    rgba(54, 55, 58, 1) 69.231%,
    rgba(54, 55, 58, 1) 76.923%,
    rgba(56, 57, 61, 1) 76.923%,
    rgba(56, 57, 61, 1) 84.615%,
    rgba(59, 60, 64, 1) 84.615%,
    rgba(59, 60, 64, 1) 92.308%,
    rgba(61, 62, 66, 1) 92.308% 100%
  );
}

.active {
  opacity: 0;
}
