/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main {
  color: yellow;
  font-size: 5vw;
}

.some {
  font-size: 2vw;
}
#text-content {
  color: greenyellow;
  font-size: 4vw;
}
