/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 70vh;
  width: 40%;
  border: 2px solid #ffffff;
  background-color: black;
  color: white;
  padding: 10px 20px;
  overflow: hidden;
  overflow-y: scroll;
}

#container::-webkit-scrollbar {
  background-color: transparent;
}

#container::-webkit-scrollbar-thumb {
  background-color: yellow;
  border: 2px solid green;
  border-radius: 20px;
}
