/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(18, 18, 22, 1) 0%,
    rgba(18, 18, 22, 1) 7.692%,
    rgba(22, 23, 26, 1) 7.692%,
    rgba(22, 23, 26, 1) 15.385%,
    rgba(26, 27, 31, 1) 15.385%,
    rgba(26, 27, 31, 1) 23.077%,
    rgba(31, 32, 35, 1) 23.077%,
    rgba(31, 32, 35, 1) 30.769%,
    rgba(35, 36, 39, 1) 30.769%,
    rgba(35, 36, 39, 1) 38.462%,
    rgba(39, 40, 43, 1) 38.462%,
    rgba(39, 40, 43, 1) 46.154%,
    rgba(43, 44, 47, 1) 46.154%,
    rgba(43, 44, 47, 1) 53.846%,
    rgba(47, 48, 51, 1) 53.846%,
    rgba(47, 48, 51, 1) 61.538%,
    rgba(50, 51, 55, 1) 61.538%,
    rgba(50, 51, 55, 1) 69.231%,
    rgba(54, 55, 58, 1) 69.231%,
    rgba(54, 55, 58, 1) 76.923%,
    rgba(56, 57, 61, 1) 76.923%,
    rgba(56, 57, 61, 1) 84.615%,
    rgba(59, 60, 64, 1) 84.615%,
    rgba(59, 60, 64, 1) 92.308%,
    rgba(61, 62, 66, 1) 92.308% 100%
  );
}

#container {
  position: relative;
  height: 75%;
  width: 35%;
  background-color: red;
  /* border: 2px solid white; */
  z-index: 1;
}

#container #image {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; 
}

#container #image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease-in-out 1s;
}

#container #image-content {
  position: absolute;
  height: 0%;
  width: 100%;
  background-color: #EEBD00;
  bottom: 0;
  display: flex;
  justify-content: center;
  transition: all ease-in-out 1s;
  border: none;
}
#container #image-content h1 {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
}

#container:hover #image-content {
  height: 20%;
}
#container:hover #image img {
  transform: translateY(-20%);
}


#container::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(57, 248, 80);
    top: 0;
    left: 0;
    transition: all ease-in-out 1s;

}

#container:hover::before{
    transform: rotate(20deg);
}
#container::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(95, 247, 247);
    top: 0;
    left: 0;
    transition: all ease-in-out 1s;
    z-index: -1;

}

#container:hover::after{
    transform: rotate(10deg);
}