/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: black;
  height: 100vh;
  width: 100%;
}
/* page 1 Starts Here */
#page1 {
  height: 100vh;
  width: 100%;
  background-color: white;
  padding: 0 10%;
}
/* Nav-bar */
#navbar-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: lightblue; */
}
#navbar-logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
}
#navbar-logo h1 {
  font-size: 3rem;
}

#navbar-items-container {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
#navbar-items-container .nav-items {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(31, 28, 28);
  color: white;
  transition: all ease-in-out 0.5s;
}
.nav-items:hover {
  cursor: pointer;
  transform: translateY(-3%) scale(1.1);
}
/* Page1 center */
#page1-main-container {
  height: 90vh;
  width: 100%;
  display: flex;
  /* background-color: aquamarine; */
}
/* page1 - left part  */
#page1-left-part {
  height: 90%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#page1-heading {
  height: 40%;
  font-size: 6rem;
}
#page1-para {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 80%;
}
#page1-button {
  background-color: brown;
  color: white;
  border: none;
  height: 50px;
  width: 150px;
}

/* page1 - left part  */
#page1-right-part {
  position: relative;
  height: 95%;
  width: 50%;
  /* border: 2px solid black; */
}

.page1-images {
  height: 60%;
  width: 50%;
  background-color: red;
}
.page1-image1 {
  background: url(assets/div7.png) no-repeat center/cover;
  position: absolute;
  left: 50%;
  top: 5%;
}
.page1-image2 {
  background: url(assets/div3.png) no-repeat center/cover;
  position: absolute;
  bottom: 3%;
  left: 10%;
}

/* page2 Starts here */

#page2 {
  height: 100vh;
  width: 100%;
  background-color: white;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page2-left {
  height: 85%;
  width: 50%;
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page2-small-heading {
  height: 6%;
  font-family: cursive;
  font-weight: 600;
  display: flex;
  align-items: center;
  /* background-color: wheat; */
  font-size: 1.5rem;
}
#page2-large-heading {
  height: 17%;
  display: flex;
  align-items: center;
  font-size: 5rem;
}
#page2-para {
  height: 13%;
  /* background-color: wheat; */
  display: flex;
  align-items: center;
}

#page2-button {
  background-color: brown;
  color: white;
  border: none;
  height: 50px;
  width: 150px;
}
#page2-right {
  height: 60%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: orange;
}
#page2-image-container {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: url(assets/div7.png) no-repeat center/cover;
  background-color: red;
}

/* Social media box Starts here */

#social-media-container {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-medias {
  color: white;
  height: 30%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all ease-in-out 0.5s;
}
.social-medias:hover {
  cursor: pointer;
  font-weight: 700;
  transform: translateY(-5%) scale(0.9);
}

.social-medias:nth-child(1) {
  background-color: rgb(239, 82, 82);
}
.social-medias:nth-child(1):hover {
  background-color: rgb(242, 51, 51);
}
.social-medias:nth-child(2) {
  background-color: pink;
  color: black;
}
.social-medias:nth-child(2):hover {
  background-color: rgb(151, 133, 241);
}
.social-medias:nth-child(3) {
  background-color: blue;
}
.social-medias:nth-child(3):hover {
  background-color: rgb(67, 123, 244);
}
.social-medias:nth-child(4) {
  background-color: lightblue;
  color: black;
}
.social-medias:nth-child(4):hover {
  background-color: rgb(90, 200, 237);
}

/* Page3 Starts Here */

#page3 {
  height: 100vh;
  width: 100%;
  background-color: white;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page3-left-part {
  height: 60%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: orange;
}
#page3-image-container {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: url(assets/div3.png) no-repeat center/cover;
  background-color: red;
}
#page3-right-part {
  height: 80%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: orange; */
}
#page3-heading {
  height: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 4.5rem;
  /* background-color: red; */
}
#page3-para {
  height: 17%;
  font-size: 1rem;
  width: 80%;
}

#page3-button {
  background-color: brown;
  color: white;
  border: none;
  height: 50px;
  width: 150px;
}

/* Page 4 Starts Here */
#page4 {
  height: 100vh;
  width: 100%;
  background-color: white;
  padding: 0 10%;
}
#page4-top {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: orange; */
}
#page4-small-heading {
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
  color: rgb(130, 126, 126);
  font-family: cursive;
}
#page4-large-heading {
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 4rem;
  /* background-color: aqua; */
}

#page4-bottom {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: teal; */
}
.page4-item-boxes {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 32%;
  box-shadow: 1px 1px 1px 1px rgba(63, 50, 50, 0.496);
}
.top-part {
  height: 55%;
  width: 100%;
  background: url(assets/div3.png) no-repeat center/cover;
}
.top-2 {
  background: url(assets/div1.png) no-repeat center/cover;
}
.top-3 {
  background: url(assets/div7.png) no-repeat center/cover;
}
.bottom-part {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-heading {
  height: 20%;
  text-align: center;
}
.bottom-para {
  /* background-color: red; */
  height: 40%;
  font-size: 0.9rem;
  text-align: center;
}
.bottom-button {
  background-color: brown;
  color: white;
  border: none;
  height: 50px;
  width: 150px;
  transition: all ease-in-out 0.3s;
}
.bottom-button:hover {
  cursor: pointer;
  transform: translateY(-5%) scale(0.9);
}

/* Page 5 Starts here */
#page5 {
  height: 50vh;
  width: 100%;
  padding: 0 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: rgb(51, 17, 51);
}
.page5-boxes {
  height: 60%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.page5-headings {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.page5-items:hover {
  cursor: pointer;
  font-weight: 600;
}
