/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.background {
  background: url(assets/load-bar-progress-gradient-download-interface-loading-sign-vector-loader-concept-minimal-upload-set_152104-5285.avif)
    no-repeat center center/cover;
  height: 100%;
  width: 100%;
  filter: blur();
  transition: background ease-in-out 1s;
}

.loading{
    font-size: 50px;
    color: red;
    position: absolute;
    bottom: 52.5%;
    right: 17%;
}