/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: red;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: 80%;
  border: 2px solid white;
}

.container1 #image img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.container1 article {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  /* aligin text */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: all ease-in-out 1s;
}
.container1 article h1 {
  font-size: 7vh;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container1 article p {
  margin-top: 10px;
  width: 70%;
  color: white;
}
.container1:hover.container1 article {
  transform: translateX(0);
}

#page2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: 80%;
  border: 2px solid white;
}

.container2 #image img {
  height: 100%;
  object-fit: contain;
  width: 100%;
  transition: all ease-in-out 1s;
}

.container2 article {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: black;
  /* aligin text */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: all ease-in-out 1s;
}
.container2 article h1 {
  font-size: 7vh;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container2 article p {
  margin-top: 10px;
  width: 70%;
  color: white;
}
.container2:hover.container2 article {
  transform: translateX(0);
}
.container2:hover.container2 #image img {
  transform: translateX(40%);
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 {
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: 80%;
  border: 2px solid white;
}
.container3 #image {
  position: relative;
  height: 100%;
  width: 100%;
}
.container3 #image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: all ease-in-out 1s;
}

.container3 article {
  position: absolute;
  border-top: 10px solid red;
  background-color: wheat;
  color: white;
  height: 0%;
  width: 80%;
  left: 10%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all ease-in-out 0.8s;
}

.container3:hover.container3 article {
  height: 100%;
  width: 100%;
  left: 0;
}

.container3 article h1 {
  -webkit-text-stroke: 2px white;
  color: rgb(247, 70, 247);
  font-size: 8vw;
  opacity: 0;
  transition: all ease-in-out 1s;
}

.container3:hover.container3 article h1 {
  opacity: 1;
}
.container3 article h4 {
  color: black;
  font-size: 2vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0;
  transition: all ease-in-out 1.2s;
}

.container3:hover.container3 article h4 {
  opacity: 1;
}
.container3 article p {
  width: 70%;
  color: black;
  text-align: center;
  opacity: 0;
  transition: all ease-in-out 1.4s;
}

.container3:hover.container3 article p {
  opacity: 1;
}
