/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all cubic-bezier(0.215, 0.61, 0.355);
}

button{
    height: 10vh;
    width: 20%;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}


